.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px;
  border-bottom: 1px solid gray;
  background-color: aliceblue;
  box-shadow: 1px 1px 23px 1px gray;
}

.countCard {
  position: relative;
  right: -44px;
  top: 7px;
}
